.details-container {
    max-width: 400px;
    /* Adjust the value as needed */
    margin: 0 auto;
    /* Centers the container horizontally */
}

.card-img {
    width: 10%;
    /* Adjust the value as needed */
    height: auto;
    object-fit: contain;
    /* Maintains the image's aspect ratio */
}